<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Gundo_ProductInfoAgent::productinfoagent_menu" title="ProductInfo Agent"
                          translate="title" parent="Magento_Backend::content" sortOrder="90">
                    <resource id="Gundo_ProductInfoAgent::productinfoagent" title="Dashboard"
                              translate="title" sortOrder="10"
                              action="productinfoagent/productinfoagent/index"/>
                    <resource id="Gundo_ProductInfoAgent::productinfoagent_history" title="Chat History"
                              translate="title" sortOrder="20"
                              action="productinfoagent/productinfoagent/history"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
